@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lobster&display=swap');

.overlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(111,111,111,0.6);
    z-index:9;
}

.texts{
    font-size: 25px;
    border-bottom: 1px solid #212529;
    border-color: #212529;
    transition: font-size 0.5s,border-color 1s;
}
.texts:hover{
    font-size:30px;
    border-color:white;
}

@media only screen and (max-width:425px){
    .texts{
        font-size: 15px;
        border-bottom: 1px solid #212529;
        border-color: #212529;
        transition: font-size 0.5s,border-color 1s;
    }
    .texts:hover{
        font-size:20px;
        border-color:white;
    }
}